@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* * {
  padding: 0px;
  margin: 0px;
} */
body {
  background-color: #f1f1f1;
  color: black;

  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;

  /* font: normal 16px "roboto", sans-serif; */

  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: blue;
}

a:visited {
  color: grey;
}

.avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px black;
}

.info {
  margin-bottom: 20px;
  display: flex;
}

.info p {
  color: #ff0000;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  /* text-transform: uppercase; */
  /* letter-spacing: 5px; */
  /* word-spacing: 1px; */
}

@media (max-width:700px) {
.info {
  display: block;
  text-align: center;
}
}

.info-text {
  margin-left: 40px;
}
.info-text h4 {
  margin-bottom: 10px;
}

/* boxmodul */

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

/* .social {
  background: green;
  padding: 15px;
  padding: 15px 20px 15px 20px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  border: 5px solid black;

  margin: 20px;

  border-bottom-style: dotted;
  border-top-width: 15px;
  border-right-color: blue;
} */

/* .box-model > div {
  float: left;
  background: black;
  border: 4px solid red;
  height: 200px;
  width: 25%;
  box-sizing: border-box;
} */

.bq-yellow {
  background: yellow;
}
.bq-green {
  background: green;
}
.bq-red {
  background: rgb(212, 182, 182);
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 10px;
}
.list {
  padding: 0 20px;
}

.list li {
  color: black;
  margin-bottom: 10px;
}

.table {
  width: 100%;
}
.table td {
  padding-bottom: 20px;
}

.table td:nth-child(2),
td:nth-child(3) {
  color: blue;
}

/* .table tr:nth-child(odd) {
  background: #ff0000;
} */

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.contact h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: black;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  /* background: transparent; */
  border-bottom: 1px solid black;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}



.row > .form-group {
  width: 50%;
  margin-right: 20px;
}

.row > .form-group:last-child {
  margin-right: 0;
}

.btn {
  color: white;
  padding: 15px 20px;
  background: #000;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
}

/* position */

/* .position { */
  position: relative; */
  border: 4px solid black;
  margin-top: 40px;
  padding: 20px;
  height: 300px;
}

/* .box { */
  bottom: 0;
  right: 0;
  position: absolute;
  bottom: 50px;
  left: 0px;
  width: 50px;
  height: 50px;
  background: #ff0000;
}
